.App {
  text-align: center;
  background-color: black;
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.chatbox {
  margin: 10px 0;
  display: flexbox;
}

.side-box {
  background-color: #40414f;
  color: whitesmoke;
}

.side-box-delete {
  background-color: #40414f;
  color: rgb(238, 47, 47);
}

.chat-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu {
  width: 260px;
  background-color: #202123;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

.chat-box {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.chatbox-name-input {
  background-color: #40414f;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  width: 100%;
  color: whitesmoke;
}

.side-menu-button {
  background-color: #40414f;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  width: 100%;
  color: whitesmoke;
  margin-bottom: 10%;
}

.chat-input-holder {
  padding-bottom: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #40414f;
}

.chat-input {
  padding: 12px;
  background-color: #40414f;
  width: 90%;
  border: none;
  border-radius: 5px;
  margin: 12px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  color: white;
  font-size: 13;
}

.chat-log {
  max-width: 100%;
  overflow-y: scroll;
  max-height: 100%;
  text-align: left;
  padding-bottom: 90px;
}

.chat.gemini {
  background-color: #40414f62;
  display: inherit;
}

.chat-center {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 27px;
}

.avatar.user-avatar {
  /* background-color: white; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.gemini-avatar {
  padding-right: 2%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message p {
	margin: 0;
}

.message ul {
	padding-left: 20px;
}

.message li {
	margin-bottom: 5px;
}

.response {
	margin-top: 10px;
}
.message {
  padding-left: 40px;
  padding-right: 40px;
  word-spacing: 3px;
  display: contents;
}

.submit-button {
  background-color: #565869;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s;
  margin: 10px;
  padding: 10px;
}

.form {
  display: flex;
  justify-content: center;
}

.log-out {
  position: absolute;
  background-color: #565869;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s;
  padding: 15px;
  bottom: 20px;
  left: 95px;
}